@page
@model WebPortal_02.Pages.products.AddProductsModel
@{
       Layout = "~/Pages/admin/header.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Add Products</li>
          <li class="breadcrumb-item active">Fill</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Products</h5>


              
                        <!-- No Labels Form -->
              <form class="row g-3" method="POST">
              
                <div class="col-md-4">
                  <label>Select Product Type</label>
                  <select  name="product_name"  class="form-control">
                      @foreach(var item in Model.catlist)
                        {
                        <option value="@(item.id+","+item.category_name)">@item.category_name</option> 
                        }
                  </select>
                </div>

                 <div class="col-md-4">
                  <label>Product Name</label>
                  <input type="text" name="product_desc"  class="form-control" placeholder="Product Name">
                </div>

                <div class="col-md-4">
                  <label>Product price</label>
                  <input type="text" name="price"  class="form-control" placeholder="Product Price">
                </div>

             
                <div class="text-left">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End No Labels Form -->

            </div>
          </div>



        </div>
      </div>
    </section>

  </main>

