@page
@model WebPortal_02.Pages.products.categorylistModel
@{
      Layout = "~/Pages/admin/header.cshtml";
}



<main id="main" class="main">

    <div class="pagetitle">
      <h1>Category List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Category List</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
 <a href="../products/AddCategory"><button type="button" class="btn btn-outline-primary">
     <i class="bi bi-layers-fill"></i> Category List </button></a>
                </h5>

                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Sno</th>
                      <th scope="col">Category Name</th>
                      <th scope="col">Created Date</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                @foreach(var item in Model.catlist)
                {
                      <tr>
                          <td>@item.id</td>
                          <td>@item.category_name</td>
                          <td>@item.created_at</td>
                          <td>
                          <a href=""><button type="button" class="btn btn-outline-primary"><i class="bi bi-gear"></i></button></a>

                          <a href=""><button type="button" class="btn btn-outline-primary"><i class="bi bi-trash"></i></button></a>
                          </td>
                      </tr>
                  }
                 </tbody>
                </table>
                <!-- End Table with stripped rows -->

              </div>
            </div>

          </div>
        </div>
      </section>


  </main>



<script>

    function userDelete(userid,imagename){
     //alert();


           $.ajax({
               headers: {'X-CSRF-TOKEN': $('input[name=_token]').val()},
               type:'POST',
               dataType: 'JSON',
               url:'/admin/service-delete/',
               data: {"userregid":userid,
                   "imagename":imagename,
                    "_token": $('#token').val()
               },
               success:function(response)  {
                  location.reload();
               }
           });
       }


   function changeStatus(userid,userstatus){

      $.ajax({
               headers: {'X-CSRF-TOKEN': $('input[name=_token]').val()},
               type:'POST',
               dataType: 'JSON',
               url:'/batch-status-change',
               data: {"userregid":userid,
                   "userstatus":userstatus,
                    "_token": $('#token').val()
               },
               success:function(response)  {

                  location.reload();

               }
           });
       }

      </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
